body{
    margin-left: 10px;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-invierno-hojas-pinceles-color-pastel_220290-42.jpg);
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.grid{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    align-items: center;
    gap: 3px;
    row-gap: 2px;
}
.grid h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid 1px salmon;
    border-radius: 54px;
    background: salmon;
    position: relative;

}

.grid h2::after{
    position: absolute;
    bottom: 0px;
    right: 0px;
    content: '';
    background: black;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
    border-radius: 54px;
}


.grid h1{
    font-size: 32pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.6em;
    
}

/*Contenido de la pantalla principal*/
.contenido{
    display: grid;
    grid-template-columns: 75% 20%;
    grid-template-rows: 550px 100%;
    column-gap: 40px;
}

.contenido h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #C8A2C8;
    padding: 0.2em;
}

h2:hover{
    border: 1px solid black;
}

.contenido h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background: #ff7987;
    padding: 0.2em;
}

h3:hover{
    border: 1px solid black;
}

.contenido div{
    position: relative;

}

.elemento1{
    position: relative;
    margin-left: 10px;
    height: 510px;
    width: 300px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.elemento1::after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: '';
    background-image: linear-gradient(to right, #b92b27, #1565c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ ;
    width: 100%;
    height: 100px;
    filter: blur(20px);
    z-index: -1;


}




.elemento2{
    position: absolute;
    background: aquamarine;
    text-align: center;
    height: 220px;
}

.elemento4{
    position: relative;
    top: -300px;
    left: 986px;
    background: #ff7987;
    height: 260px;
    width: 255px;
    text-align: center;
}

.elemento5{
    top: -549px;
    right: 650px;
    background: #C8A2C8;
    height: 510px;
    width: 100px;
    text-align: center;
    position: relative;
}

.elemento5::after{
    position: absolute;
    top: 0px;
    right: 0px;
    content: '';
    background-image: linear-gradient(to right, #b92b27, #1565c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ ;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
}

.elemento6{
    position: absolute;
    top: -2119px;
    right: -660px;
    background: #C8A2C8;
    height: 510px;
    width: 300px;
    text-align: center;
}

.pantalon{
    height: 490px;
    width: 300px;
}

.pantalon:hover{
    transform: scale(1.02);
    
}


.hoodie{
    height: 490px;
    width: 250px;
}

.hoodie:hover{
    transform: scale(1.02);
}

